$white: #fafafa;
$color-primary: #7477bf;
$color-secondary: #4d4c72;
$color-notification: #90ee90;

$color-grey: #f7f7f7;
$color-dark-grey: darken($color-grey, 30%);

$stardard-margin:20px;

$transition-duration: .5s;