$white: #fafafa;
$black: black;
$color-primary: #7477bf;
$color-secondary: #4d4c72;
$color-notification: #90ee90;
$color-third: #81c98f;

$color-grey: #f7f7f7;
$color-dark-grey: darken($color-grey, 30%);

$main-font-stack: 'Yantramanav', sans-serif;
$font-weights: (
    'light': 100,
    'regular': 400,
    'bold': 700,
);
$base-font-size: 16px;

$margins: (
    'xxsmall': 2px,
    'xsmall': 5px,
    'small': 10px,
    'medium': 20px,
    'large': 30px,
);

$border: 1px solid $color-dark-grey;

$transition-duration: .5s;

$round: 50%;
$rounded: 34px;
$rounded-corners: 5px;

$breakpoints: (
    'sm': 320,
    'med': 768px,
    'lar': 1024px,
)