.charts{

    
}

.chart-buttons{
    @include flexy($just:center);
    margin: $stardard-margin;

    & button {
        padding: 15px;
        margin: 10px;
        @extend %rounded;
        border: none;
    }

}