form {
    @include flexy($dir: column);
    max-width: 100%;
    & button{
        background-color: $color-primary;
        transition: background-color $transition-duration ease-in-out;

        &:hover,
        &:focus {
            background-color: $color-secondary;
            outline: none;
        }
    }
}

button {
    border: none;
    color: $white;
}

input,
textarea,
button,
select {
    border-radius: 5px;
    margin-bottom: map-get($margins, 'medium' )
}

form button:last-child{
    margin-bottom: 0;
}

input,
textarea,
select {
    background-color: $color-grey;
    border: $border;
    transition: background-color, color, border-color;
    transition-duration: $transition-duration;
    transition-timing-function: ease-in-out;

    &:hover,
    &:focus {
        outline:none;
        background-color: $color-dark-grey;
        color: $white;
        border-color: $color-secondary;
        &::placeholder{
            color: $white;
        }
    }
}

select:hover,
select:focus {
    background-image: url(../svgs/drop-arrow-white.svg);
}

input,
button,
select,
textarea{
    padding: map-get($margins, 'small')
}

select {
    appearance: none;
    padding-right: map-get($margins, 'large' );
    background-image:url(../svgs/drop-down-arrow.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 30px;
    font-weight: map-get($font-weights, 'light');
}