header,
.user-info div{
    @include flexy;
}

header{
    background-color: $color-primary;
    padding:map-get($margins, 'small');
}

.header-name {
    color: $white;
}


.user-info {
    @include flexy($just: space-between);
    margin-left:auto;

    & div {
        align-items: center;
    }
}

.user {
    border-left:1px solid $white;
    padding-left:map-get($margins, 'small' )
}

.notification-container{
    cursor: pointer;
    margin-right: map-get($margins, 'small');
    position: relative;
    border-radius: $rounded-corners;
    padding-left:map-get($margins, 'small');
    padding-right:map-get($margins, 'small');
    transition: background-color $transition-duration ease-in-out;

    &:hover,
    &:focus {
        background-color: $color-secondary;
    }
}

.notification-icon {
    width: 25px;
    @extend %icon;
}

.notification-circle {
    width: 10px;
    height:10px;
    border-radius: $round;
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: $color-notification;
}

.header-name{
    margin-left:map-get($margins, 'small');
}