header,
.user-info div{
    @include flexy;
}

header{
    align-items: center;
    background-color: $color-primary;
    padding:map-get($margins, 'small');
    @include mq('med'){
        padding: map-get($margins, 'medium');
    }
}

.header-name {
    color: $white;
}

.user-info {
    @include flexy($just: space-between);
    margin-left:auto;

    & div {
        align-items: center;
    }
}

.user {
    border-left:1px solid $white;
    padding-left:map-get($margins, 'small' )
}

.notification{
    cursor: pointer;
    position: relative;
    margin-right: map-get($margins, 'small');
    
    & a{
        width: 100%;
        height: 100%;
        padding-left:map-get($margins, 'small');
        padding-right:map-get($margins, 'small');
        border-radius: $rounded-corners;
        @include flexy;
        position: relative;
        color: $white;
        text-decoration: none;
    }

    & > a {
        transition: background-color $transition-duration ease-in-out;
    }

    & > a:hover,
    & > a:focus {
        outline: none;
        background-color: $color-secondary;
    }
    &-icon {
        width: 25px;
        @extend %icon;
        @include mq('med'){
            width: 50px;
        }
    }

    &-circle {
        width: 10px;
        height:10px;
        border-radius: $round;
        position: absolute;
        top: 4px;
        right: 4px;
        background-color: $color-notification;
        @include mq('med'){
            width: 15px;
            height: 15px;
        }
    }
    &-panel {
        position: absolute;
        width: 200px;
        background-color:$white;
        border-radius: $rounded-corners;
        padding:map-get($margins, 'medium');
        @include flexy($dir: column);
        left: -100%;
        top: 100%;
        margin: 0 auto;
        border: 2px solid $color-secondary;
        min-height: px-to-rem(50px);
        @extend %box-shadow;
        &-message{
            border-radius: $rounded-corners;
            border: $border;
            position: relative;

            & a{
                width: 100%;
                height:100%;
                padding: map-get($margins, 'small');
                background-color: $color-primary;
                transition: background-color $transition-duration;
                &:hover {
                    background-color: $color-secondary;
                }
            }

            &-xbutton {
                position: absolute;
                right: -8px;
                top: -8px;
                background-color: $color-dark-grey;
                padding: map-get($margins, 'xsmall');
                font-size: px-to-rem(18px);
                border-radius: $round;
                color:$white;
                border: 2px solid $white;
                transition: background-color $transition-duration;
                &:hover,
                &:focus{
                    background-color: $color-secondary;
                }
            }
        }

        & div:not(:last-child){
            margin-bottom: map-get($margins, 'small');
        }
    }
}

.header-name{
    margin-left:map-get($margins, 'small');
}