.message .container {
    @include mq('lar'){
        border-bottom: none;
    }
}

.search{
    position: relative;
    &__results{
        position: absolute;
        width: 100%;
        top:100%;
        @include flexy($dir: column);
        background-color: $color-secondary;
        color: $white;
        margin-top: -20px;
        border-radius: $rounded-corners;
        @extend %box-shadow;
        &--result{
            padding: map-get($margins, 'small');
            transition: background-color $transition-duration ease-in-out, color $transition-duration ease-in-out;
            border-radius: $rounded-corners;
            cursor: pointer;
            &:hover,
            &:focus{
                background-color: $color-grey;
                color: $color-primary
            }
        }
    }
}

.msg-fixed-panel{
    position: fixed;
    width:100vw;
    height: 100vh;
    background-color: rgba($black, .5);
}

.msg-relative-outter-panel{
    position:relative;
    width:100%;
    height: 100%;
}
        
.msg-content-main-panel{
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-primary;
    color: $white;
    border-radius: $rounded-corners;
    font-size: px-to-rem(25px);
}

.msg-inner-relative-panel{
    width:100%;
    height:100%;
    padding: 100px;
    position:relative;
}

.xbutton-msg{
    @extend %xbutton;
    width:34px;
    height: 34px;
    right: -17px;
    top: -17px;
    font-size: px-to-rem(30px);
}