.settings-wrapper {
    border-left: $border;
    & .container {
        @include mq('med'){
            border-bottom: none;
            @include flexy($dir:column, $just: space-around);
            align-items: stretch;
        }
    }
    & .container,
    & .card {
        @include mq('med'){
            height:100%;
        }
    }
}
.settings-container {

    @include flexy($dir: column);
    @include mq('lar'){
        height: 100%;
    }

    & > div{
        @include flexy($dis:flex, $just: space-between);
        align-items: center;
        flex:1;
        &:not(:last-child){
            margin-bottom: map-get($margins, 'medium');
            @include mq('lar'){
                margin-bottom: 0;
            }
        }
    }

    & div:last-child button{
        flex: 1;
        margin-bottom: 0;
    }

    //sets the margin between the buttons in the settings tab
    & div:last-child button + button{
        margin-left: map-get($margins, 'xsmall' );
    }

    //this selects the save button on the settings card
    & div:last-child button:first-child{
        background-color: $color-primary;
        &:hover,
        &:focus {
            background-color: $color-secondary;
        }
    }

    //this selects the cancel button on the settings card
    & div:last-child button:last-child{
        background-color:$color-dark-grey;
        &:hover,
        &:focus {
            background-color: rgba($color-dark-grey, .6);
            color: $color-primary;
        }
    }
    & button {
        transition: background-color $transition-duration ease-in-out, color $transition-duration ease-in-out;
        &:hover,
        &:focus{
            outline:none;
        }
    }

    .toggle-container {
        @include mq('med'){
            max-width: 60%;
        }
    }
}

