.social-container{
    @include flexy();
    background-color: $color-grey;
    border: 1px solid $color-dark-grey;
    border-radius: $rounded-corners;
    margin-bottom: map-get($margins, 'medium');
    padding: map-get($margins, 'medium');;
}

.social-text-container  {
    @include flexy($just: center, $dir: column);
    margin-left: map-get($margins, 'medium');
}

.social-icon-bg {
    width:75px;
    height:75px;
    background-color: $color-primary;
    border-radius: $round;
    @include flexy;
}

.social-icon{
    width: 50%;
    fill: $white;
    margin:auto;
}

.social-text{
    color:$color-primary;
    font-size: px-to-rem(20px);
}

.social-number-text{
    color:$color-dark-grey;
    font-weight: map-get($font-weights, 'light');
    font-size: px-to-rem(50px);
}